<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<!--
  Licensed to the soi-toolkit project under one or more
  contributor license agreements.  See the NOTICE file distributed with
  this work for additional information regarding copyright ownership.
  The soi-toolkit project licenses this file to You under the Apache License, Version 2.0
  (the "License"); you may not use this file except in compliance with
  the License.  You may obtain a copy of the License at
 
      http://www.apache.org/licenses/LICENSE-2.0
 
  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<log4j:configuration>

	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-5p %-30C - %m%n" />
		</layout>
	</appender>

    <appender name="ROLLINGFILE" class="org.apache.log4j.RollingFileAppender">
        <param name="file" value="${mule.home}/logs/mule-app-soitoolkit-encryption-web-tool.log" />
        <param name="MaxFileSize" value="1000KB" />
        <param name="MaxBackupIndex" value="3" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %-5p %-30C - %m%n" />
        </layout> 
    </appender>

	<!--
		Loglevels: {OFF, FATAL, ERROR, WARN, INFO, DEBUG, TRACE, ALL} See:
		http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/Level.html
	-->

	<logger name="org.mockftpserver">
		<level value="ERROR" />
	</logger>
	
	<logger name="org.apache.sshd">
		<level value="ERROR" />
	</logger>	

	<logger name="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<level value="TRACE" />
	</logger>

	<logger name="org.springframework.core.io.support.PropertiesLoaderSupport">
		<level value="INFO" />
	</logger>

	<logger name="org.springframework.beans.factory.xml.XmlBeanDefinitionReader">
		<level value="INFO" />
	</logger>

	<logger name="org.mule.model.seda">
		<level value="INFO" />
	</logger>
	<logger name="org.mule.MuleServer">
		<level value="INFO" />
	</logger>
	<logger name="org.mule.DefaultMuleContext">
		<level value="INFO" />
	</logger>
	<logger name="org.mule.component.simple.LogComponent">
		<level value="INFO" />
	</logger>

	<logger name="org.soitoolkit.commons">
		<level value="INFO" />
	</logger>
	
	<logger name="org.soitoolkit.tools.encryption.web.soitoolkitencryptionwebtool">
		<level value="INFO" />
	</logger>


	<!-- Message logging -->
	<logger name="org.soitoolkit.commons.mule.messageLogger">
		<level value="INFO" />
	</logger>
	
	<root>
		<priority value="WARN" />
		<appender-ref ref="CONSOLE" />
		<!--
		<appender-ref ref="ROLLINGFILE"/>
		-->
	</root>
</log4j:configuration>
